#navbar {
    height: 128px;
    bottom: 0;
    // top: calc(100vh - 128px);
    position: absolute;
    background: rgba($color: white, $alpha: 0.5);
    width: 100vw;
    z-index: 100;
    
    font-family: 'Volkhov', serif;

    --bs-navbar-brand-font-size: 36px;
    --bs-nav-link-font-size: 24px;
    --bs-navbar-nav-link-padding-x: 16px;

    .linkSeparator {
        pointer-events: none;
        font-size: 24px;
    }

}

#navbarBrand {
    transition: 1s;
}

// .navbar-text {
//     // font-family: 'Volkhov', serif;
//     // font-size: 24px;
// }


.link-separator {
    font-size: 24px;
    pointer-events: none;
}

.sticky {
    position: fixed !important;
    top: 0;
}

.scrollView + .sticky {
    padding-top: 96px;
}

// .homePageBrand {
//     // display: none;
//     // visibility: hidden;
//     font-size: 0;
// }

// .navLinks {
//     transition: 1s;
// }

.navLink {
    color: purple;
    transition: 0.5s;
}

.selectedNav {
    transition: 0.5s;
    text-shadow: -4px -2px 1px rgba(220, 20, 60, 0.8), 4px 2px 1px rgba(0, 255, 255, 0.8);
    -webkit-text-stroke: 0.1px black;
    // --bs-navbar-active-color: white;
}